<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon icon--white collapsible__chevron">
      <img src="images/chevron.svg" alt="dropdown icon" />
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi accusamus
    sunt provident maxime adipisci modi eius nostrum perferendis velit illo.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon icon--white collapsible__chevron">
      <img src="images/chevron.svg" alt="dropdown icon" />
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi accusamus
    sunt provident maxime adipisci modi eius nostrum perferendis velit illo.
  </div>
</div>
