<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 1</h2>
        <span class="icon icon--white collapsible__chevron">
          <img src="images/chevron.svg" alt="dropdown icon" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a class="list" href="#">Web hosting</a></li>
          <li><a class="list" href="#">Free Automated</a></li>
          <li><a class="list" href="#">Wordpress</a></li>
          <li><a class="list" href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <span class="icon icon--white collapsible__chevron">
          <img src="images/chevron.svg" alt="dropdown icon" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a class="list" href="#">About</a></li>
          <li><a class="list" href="#">Affiliates </a></li>
          <li><a class="list" href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <span class="icon icon--white collapsible__chevron">
          <img src="images/chevron.svg" alt="dropdown icon" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a class="list" href="#">Contact</a></li>
          <li><a class="list" href="#">Knowledge</a></li>
          <li><a class="list" href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
        <span class="icon icon--white collapsible__chevron">
          <img src="images/chevron.svg" alt="dropdown icon" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a class="list" href="#">Domain checker</a></li>
          <li><a class="list" href="#">Domain Transfer</a></li>
          <li><a class="list" href="#">Free domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 mosh hamedani</p>
    </section>
  </div>
</footer>
